@import url("https://fonts.googleapis.com/css?family=Roboto");

.Retro {
  max-width: 1200px;
  padding: 0 0.25rem;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

/* button {
  cursor: pointer;
} */

.BoardCntr {
  display: flex;
  justify-content: space-between;
}

.BoardCntr h2 {
  text-align: center;
  color: #fff;
}

.BoardItem {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-top: 10px;
  color: #fff;
  padding: 20px;
}

.BoardItem textarea {
  background: transparent;
  border: 0;
  font-size: 1rem;
  color: #fff;
  min-height: 60px;
  resize: none;
  overflow: visible;
}

.BoardItem textarea::placeholder {
  transition: 0.3s ease all;
  color: rgba(255, 255, 255, 0.6);
}

.BoardItem textarea:focus::placeholder {
  color: rgba(255, 255, 255, 0);
  transition: 0.3s ease all;
}

.addButton {
  width: 100%;
  background: #ccc;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 3px solid #aaa;
}

.addButton:hover {
  background: #ddd;
  transition: 0.3s ease all;
}

.FunctionNav {
  display: flex;
  justify-content: space-between;
}

.FunctionNav button {
  background: transparent;
  border: none;
  line-height: 1;
  padding: 0;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.6);
}

.FunctionNav button:hover {
  color: rgba(255, 255, 255, 1);
  transition: 0.3s ease all;
}

.BoardCntr > * {
  width: 100%;
  margin: 0 10px;
}

.flexform {
  display: flex;
  flex-direction: column;
}

/* h1,
h2,
h3,
h4 {
  text-align: center;
} */

.btn-cntr {
  text-align: center;
}

button.ChangeLayout {
  background: rgba(159, 214, 180, 0);
  margin: 0 auto;
  color: rgba(159, 214, 180, 1);
  border: 1px solid rgba(159, 214, 180, 1);
  padding: 10px 15px;
  transition: 0.3s ease all;
}

button.ChangeLayout:hover {
  color: #fff;
  background: rgba(159, 214, 180, 1);
  transition: 0.3s ease all;
}

.Rotate-2 {
  transform: rotate(180deg);
}

textarea {
  background: transparent;
  border: none;
  color: #ffffff;
}
.millestones {
  background: pink;
  margin: 5px;
}
.wentWell {
  background: #01dd89;
  margin: 5px;
}

.toImprove {
  background: #f3316b;
  margin: 5px;
}

.actionItems {
  background: #c62fda;
  margin: 5px;
}
