/*Global*/

.pageTitle {
  font-size: 2.5em;
  padding: none;
  margin: none;
}

.productNameRetrospective {
  text-align: center;
  font-family: "Roboto";
  font-style: italic;
  color: #ff94fb;
}

.companyName {
  font-family: "Bowlby One SC", cursive;
  font-weight: 400;
  color: #2196f3;
}

.buttonsWrapper {
  text-align: center;
  margin: 10px auto;
}

.retroBoardContainer {
  height: auto;
  width: 100%;
  overflow-x: scroll !important;
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 15%,
    rgba(0, 0, 0, 1) 85%,
    rgba(0, 0, 0, 0) 100%
  );
}

/* width */
.retroBoardContainer::-webkit-scrollbar {
  height: 10px;
}

/* Track */
.retroBoardContainer::-webkit-scrollbar-track {
  background: #d7d7d7;
}

/* Handle */
.retroBoardContainer::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.retroBoardContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}
