/*------------------------------*/
/*Page 1 - Instructions*/

.getStartedPage {
  margin: 0 auto;
  text-align: center;
}

.stepsTitleText {
  font-size: 1.5em;
  text-align: center;
  margin: none;
  padding: none;
}

.stepContainer {
  background: rgba(0, 0, 0, 0.015);
  display: inline-block;
  padding: 25px;
  margin: 5px;
  /*-----*/
  width: 250px;
  height: 80px;
}

.stepNumber {
  background: rgba(5, 153, 169, 0.25);
  width: 150px;
  height: 150px;
  margin: 0 auto;
  padding: 6px 12px;
  color: black;
  pointer-events: none;
}

.stepText {
  font-size: 1.2em;
}

.accordionWrapper {
  margin: 35px auto;
  max-width: 60%;
}

.accordionTitle {
  font-weight: 500 !important;
}

.accordionContent {
  text-align: left !important;
}
