.participantCard {
  padding: 13px !important;
  margin: 12px;
  display: block;
  width: calc(100% - 60px);
}

.name {
  display: inline;
  font-size: 25px;
  padding: 10px;
  text-transform: capitalize;
  word-wrap: break-word;
  max-width: 50%;
}

.buttons {
  display: inline;
  position: relative;
  float: right;
}
