.participantsTracker {
  padding: 20px;
  max-width: 600px;
  margin: 15px auto;
  text-align: center;
}

/*------------------------------*/

.randomizerCard {
  padding: 20px;
  max-width: 600px;
  margin: 15px auto;
  text-align: center;
}

.upNextName {
  font-size: 1.4em;
  font-weight: bold;
  color: #3f51b5;
}

.getReadyText {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 0.9em;
}
