.navbarUserSection {
  margin-left: auto;
}

.navbarUserSection .btn {
  margin-top: 16px;
  margin-right: 5px;
}

.avatar {
  display: flex;
  float: right;
}

.nav-link {
  text-decoration: none;
  outline: none;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.8s ease-in;
  transition: color 0.3s;
  color: #fffcf7;
}

.nav-link:hover {
  color: #fffcf7;
}

.nav-link::after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: #fffcf7;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

a:link,
a:visited,
a:active {
  color: none;
}

.link-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 500px;
}

.bar {
  background-color: #252627;
}

@media only screen and (max-width: 900px) {
  .link-container {
    display: none;
  }
}
