.retroCreatePage,
.retroJoinPage {
  margin: 0 auto;
  text-align: center;
}

.inputFieldFacilitator {
  width: 600px !important;
  margin: 5px auto;
}

.retrospectiveDropdown {
  width: 600px !important;
  text-align: left !important;
}
.uniqueLinkReadOnlyField {
  width: 600px !important;
  margin: 20px 0px 30px 0px !important;
}

.timeLimitRetro {
  width: 600px !important;
  margin: 15px 0px !important;
}

.uniqueLinkReadOnlyField div,
.uniqueLinkReadOnlyField input,
.uniqueLinkReadOnlyField svg {
  cursor: pointer !important;
}

#generated-meeting-url {
  letter-spacing: 0.45px;
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0.025) 95%
  );
}
