.retroCard {
  margin: 10px;
  padding: 10px;
  width: calc(100%-10px);
  min-width: 250px;
  height: auto;
}

.retroCardTextField {
  width: 85%;
  height: auto;
  font-size: 18px;
  border: none;
}

.retroCardTextField:active {
  border: none !important;
}

.retroCardDeleteButton {
  display: block;
  position: absolute;
  right: 0px;
  top: -30px;
}
