.timerCard {
  padding: 20px;
  max-width: 600px;
  margin: 15px auto;
  text-align: center;
}

.horizontal {
  max-width: none !important;
}

.circularTimerWrapper {
  display: block;
  height: 250px;
}

.partyParrot {
  position: relative;
  top: -45px;
  right: -100px;
  transform: scale(0.85);
  opacity: 0.25;
}

.circularTimer {
  position: relative;
  top: 0px;
  right: 60px;
}

.textTimer {
  color: rgba(0, 0, 0, 0.45);
  font-size: 1.5em;
}

.standUpCardsWrapper {
  display: flex;
  justify-content: space-around;
  margin: 25px 10px;
}

.centerVertically {
  padding: 33.5px 15px;
}

.standUpCard {
  width: 180px;
  height: 180px;

  transition: all 0.5s ease;
  background: hsl(0, 0%, 98%);
  border: 1px solid rgba(0, 0, 0, 0.05);
  opacity: 0.7;
  user-select: none;
}

.activeCard {
  background: rgb(255, 249, 215) !important;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1) !important;
  border: 1px solid rgba(0, 0, 0, 0) !important;
  transform: scale(1.05) translate(-10px, -10px) !important;
  transition: all 0.5s ease !important;
  opacity: 1 !important;
}

.standUpCardsWrapper .standUpCard .helperCardTitle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  letter-spacing: 1px;
}
