.slowest-container {
  margin-top: 15px !important;
}

.info-container {
  padding: 10px;
  display: flex;
}

.slowest-meeting-text {
  font-size: 18px;
  margin: 15px 0px;
  color: rgba(92, 92, 92, 0.6);
}

.slowest-meeting-number {
  font-size: 36px;
  margin: 10px 0px;
}

.slowest-meeting-container {
  text-align: center;
}
