.fastest-container {
    margin-top: 10px !important
}

.info-container {
    padding: 10px;
    display: flex;
}

.fastest-meeting-text {
    font-size: 14px;
    color: rgba(92, 92, 92, 0.6);
}

.fastest-meeting-number {
    font-size: 36px;
}

.fastest-meeting-container {
    text-align: center;
}