.pageTitle {
  font-size: 2.5em !important;
  padding: 5px !important;
  margin: 5px 20px !important;
}

.productNameStandUp {
  text-align: center;
  font-family: "Roboto";
  font-style: italic;
  color: #0599a9;
}

.productNameRetrospective {
  text-align: center;
  font-family: "Roboto";
  font-style: italic;
  color: #fe99bb;
}

.companyName {
  font-family: "Bowlby One SC", cursive;
  font-weight: 400;
  color: #2196f3;
}
